@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

$font-family-sans-serif: 'Raleway', sans-serif;

$primary: #123f73;
$secondary: #deca56;

$cta: rgb(255, 94, 0);
